.shg-rich-text {
  overflow-wrap: break-word;
}

.shg-rich-text img {
  margin: 0 20px;
}

@media (max-width: 768px) {
  .shg-rich-text img {
    display: block;
    float: none !important;
    margin: 0 auto;
  }
}

.shg-default-text-content *:first-child {
  margin-top: 0;
}

.shg-default-text-content {
  text-align: left;
}

.shg-default-text-content p,
.shg-default-text-content h1,
.shg-default-text-content h2,
.shg-default-text-content h3,
.shg-default-text-content h4,
.shg-default-text-content h5,
.shg-default-text-content h6,
.shg-default-text-content address,
.shg-default-text-content pre,
.shg-default-text-content div,
.shg-default-text-content ol,
.shg-default-text-content ul {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}

.shg-default-text-content a {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-style: inherit;
  text-decoration: underline;
  text-transform: inherit;
}

.shg-default-text-content strong,
.shg-default-text-content em {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.shg-default-text-content em {
  font-weight: inherit;
}

.shg-default-text-content strong {
  font-style: inherit;
  font-weight: 700;
}

/* https://stackoverflow.com/a/16094931/3696652 */
.shg-default-text-content ::-moz-selection, .shg-default-text-content *::-moz-selection {
  background: #accef7;
}
.shg-default-text-content ::selection,
.shg-default-text-content *::selection {
  background: #accef7;
}

.shg-default-text-content p {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 0.6em;
}

.shg-default-text-content h1 {
  font-size: 1.714em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.166;
  margin-top: 0.67em;
}

.shg-default-text-content h2 {
  font-size: 1.43em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
  margin-top: 0.83em;
}

.shg-default-text-content h3 {
  font-size: 1.142em;
  font-weight: 500;
  letter-spacing: -0.008em;
  line-height: 1.5;
  margin-top: 1em;
}

.shg-default-text-content h4 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -0.006em;
  line-height: 1.428;
  margin-top: 1.33em;
}

.shg-default-text-content h5 {
  font-size: 0.857em;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.333;
  margin-top: 1.43em;
}

.shg-default-text-content h6 {
  font-size: 0.785em;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.454;
  margin-top: 1.42em;
  text-transform: uppercase;
}

.shg-default-text-content ul {
  list-style: disc;
}

.shg-default-text-content ol {
  list-style: decimal;
}

.shg-default-text-content ul,
.shg-default-text-content ol {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  margin-bottom: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  margin-top: 0;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.shg-default-text-content li {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1;
  list-style: inherit;
  margin-top: 0.67em;
}

.shg-default-text-content pre {
  font-family: monospace;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 1em;
  white-space: pre-wrap;
  word-break: normal;
}

.shg-default-text-content address {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 0;
}

.shg-default-text-content div {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-bottom: 0;
  margin-top: 0.67em;
}

#s-96b80853-1e8f-4cf2-940d-8e35f8641ac1 {
  border-style: solid;
padding-top: 20px;
padding-bottom: 20px;
border-top-width: 1px;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-color: rgba(226, 226, 226, 1);
}

.shg-box {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  /**
   * While `flex: 1` is enough here, we need to supply the rest
   * of the parameters (`1 auto`) to keep compatibility with IE11.
   * Otherwise, IE11 flex would break.
   */
  flex: 1 1 auto;
}

.shg-box > .shg-box-content {
  z-index: 4;
  position: relative;
  /**
   * This is part of an IE11 fallback to avoid flex introducing
   * huge amount of weird space on the bottom on the section element.
   */
  min-height: 1px;
}

.shg-box-vertical-align-wrapper, .shg-box-vertical-center-wrapper {
  display: flex;
  width: 100%;
}

.shg-box-vertical-align-top {
  justify-content: flex-start;
}

.shg-box-vertical-align-center, .shg-box-vertical-center {
  justify-content: center;
}

.shg-box-vertical-align-bottom {
  justify-content: flex-end;
}

.shg-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
}

.shg-box-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

#s-d3007acc-0635-4ffd-8938-81ecb482db98 {
  min-height: 50px;
}








#s-d3007acc-0635-4ffd-8938-81ecb482db98 > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}#s-d3007acc-0635-4ffd-8938-81ecb482db98.shg-box.shg-c {
  justify-content: center;
}

.shg-row {
  display: flex;
  flex-wrap: wrap;
  min-height: inherit;
  max-height: inherit;
justify-content: space-between;
}

.shg-row > * {
  min-height: inherit;
  max-height: inherit;
}

.shg-c-xs-1,
.shg-c-xs-2,
.shg-c-xs-3,
.shg-c-xs-4,
.shg-c-xs-5,
.shg-c-xs-6,
.shg-c-xs-7,
.shg-c-xs-8,
.shg-c-xs-9,
.shg-c-xs-10,
.shg-c-xs-11,
.shg-c-xs-12,
.shg-c-sm-1,
.shg-c-sm-2,
.shg-c-sm-3,
.shg-c-sm-4,
.shg-c-sm-5,
.shg-c-sm-6,
.shg-c-sm-7,
.shg-c-sm-8,
.shg-c-sm-9,
.shg-c-sm-10,
.shg-c-sm-11,
.shg-c-sm-12,
.shg-c-md-1,
.shg-c-md-2,
.shg-c-md-3,
.shg-c-md-4,
.shg-c-md-5,
.shg-c-md-6,
.shg-c-md-7,
.shg-c-md-8,
.shg-c-md-9,
.shg-c-md-10,
.shg-c-md-11,
.shg-c-md-12,
.shg-c-lg-1,
.shg-c-lg-2,
.shg-c-lg-3,
.shg-c-lg-4,
.shg-c-lg-5,
.shg-c-lg-6,
.shg-c-lg-7,
.shg-c-lg-8,
.shg-c-lg-9,
.shg-c-lg-10,
.shg-c-lg-11,
.shg-c-lg-12 {
  position: relative;
}

#s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a {
  background-image: url(../images/bgimg.jpg);
background-repeat: no-repeat;
background-size: cover;
border-style: solid;
margin-top: 50px;
margin-left: auto;
margin-bottom: 50px;
margin-right: auto;
padding-top: 30px;
padding-bottom: 30px;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-color: rgba(205, 205, 205, 1);
border-style: solid;
max-width: 1100px;
background-position: center center;
}

@media (min-width: 0px) {
[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-xs-12 {
  width: 100%;
}

}

@media (min-width: 768px) {
[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 992px) {
[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 1200px) {
[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-0c5057e8-953a-4b66-b0ba-6ba763f0b31a"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 20.0px);
}

}

.shogun-image-container {
  position: relative;
}

.shogun-image-container.shg-align-left {
  text-align: left;
}

.shogun-image-container.shg-align-center {
  text-align: center;
}

.shogun-image-container.shg-align-right {
  text-align: right;
}

.shogun-image-linked {
  cursor: pointer;
}

.shogun-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.shogun-image-overlay.shg-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-top-center {
  align-items: flex-start;
  justify-content: center;
}

.shogun-image-overlay.shg-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.shogun-image-overlay.shg-middle-left {
  align-items: center;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-middle-center {
  align-items: center;
  justify-content: center;
}

.shogun-image-overlay.shg-middle-right {
  align-items: center;
  justify-content: flex-end;
}

.shogun-image-overlay.shg-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.shogun-image-overlay.shg-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.shogun-image-overlay p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.shogun-image-cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
  width: 100%;
}

.shogun-image-contain {
  font-family: "object-fit: contain;";
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.shogun-image-link {
  display: block;
  min-height: inherit;
  max-height: inherit;
}

img.shogun-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.shogun-image-content {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.shogun-image-content-linked, .shogun-image-content-not-linked {
  pointer-events: none;
}

.shogun-image-content-not-linked > div {
  pointer-events: auto;
}

.shogun-image-content-linked a,
.shogun-image-content-linked button,
.shogun-image-content-linked iframe,
.shogun-image-content-linked .shg-box-linked {
  pointer-events: auto;
}

.shogun-image-content > div {
  width: 100%;
}

.shogun-image-content-top {
  align-items: flex-start;
}

.shogun-image-content-center {
  align-items: center;
}

.shogun-image-content-bottom {
  align-items: flex-end;
}
#s-d7771f40-8e2c-4359-bbf3-e3079666b407 {
  padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}




  #s-d7771f40-8e2c-4359-bbf3-e3079666b407 img.shogun-image {
    
    width: px;
  }


#s-d7771f40-8e2c-4359-bbf3-e3079666b407 .shogun-image-content {
  
    align-items: center;
  
}

#s-5eea7f80-bb2d-4699-91db-e7d339889776 {
  padding-top: 10px;
padding-left: 30px;
padding-bottom: 10px;
padding-right: 30px;
}

#s-407cbefe-cda7-4deb-a6c7-7871ab14756d {
  padding-bottom: 10px;
text-align: center;
}




  #s-407cbefe-cda7-4deb-a6c7-7871ab14756d img.shogun-image {
    
    width: px;
  }


#s-407cbefe-cda7-4deb-a6c7-7871ab14756d .shogun-image-content {
  
    align-items: center;
  
}

#s-dc7b884f-f2cf-493d-a498-8fa7043bdd01 {
  margin-left: auto;
margin-right: auto;
padding-bottom: 65px;
max-width: 1100px;
}

@media (min-width: 0px) {
[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-xs-12 {
  width: 100%;
}

}

@media (min-width: 768px) {
[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (min-width: 992px) {
[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (min-width: 1200px) {
[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-dc7b884f-f2cf-493d-a498-8fa7043bdd01"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 15.0px);
}

}

.shogun-heading-component h1,
.shogun-heading-component h2,
.shogun-heading-component h3,
.shogun-heading-component h4,
.shogun-heading-component h5,
.shogun-heading-component h6 {
  margin: 0;
  padding: 0;
  display: block;
  color: #000;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.shogun-heading-component a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

#s-bbe4bc61-f96c-41a3-8ace-74e635f56480 {
  border-style: solid;
margin-left: auto;
margin-right: auto;
padding-top: -px;
padding-bottom: 10px;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 01px;
border-right-width: 0px;
border-color: rgba(209, 209, 209, 1);
max-width: 450px;
text-align: center;
}

#s-bbe4bc61-f96c-41a3-8ace-74e635f56480 .shogun-heading-component h1 {
  color: rgba(0, 0, 0, 1);
  font-weight:   ;
  font-family: Playfair Display;
  font-style:   ;
  font-size: ;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}



#s-31ba90e4-84c1-4e73-95cf-b9ccaa8bb0b8 {
  padding-top: 15px;
padding-left: 30px;
padding-right: 30px;
}

.shogun-video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.shogun-video-16x9 {
  padding-bottom: 56.25%;
}

.shogun-video-4x3 {
  padding-bottom: 75%;
}

.shogun-video-embed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#s-5a3ab5fe-ebd3-4dcd-b71a-75fe6b54164f {
  padding-top: 7px;
}

#s-d5162435-c3f4-4288-afbf-9cae5a26bdca {
  border-style: solid;
margin-top: 20px;
margin-left: auto;
margin-bottom: 20px;
margin-right: auto;
padding-top: 40px;
padding-bottom: 10px;
border-top-width: 01px;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-color: rgba(231, 231, 231, 1);
min-height: 50px;
background-color: rgba(243, 245, 247, 1);
}
@media (min-width: 1200px){#s-d5162435-c3f4-4288-afbf-9cae5a26bdca {
  
}
}@media (min-width: 992px) and (max-width: 1199px){#s-d5162435-c3f4-4288-afbf-9cae5a26bdca {
  
}
}







#s-d5162435-c3f4-4288-afbf-9cae5a26bdca > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}#s-d5162435-c3f4-4288-afbf-9cae5a26bdca.shg-box.shg-c {
  justify-content: center;
}

#s-3a6b02cd-6933-4876-9d5b-aadd381c2b95 {
  padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

#s-3a6b02cd-6933-4876-9d5b-aadd381c2b95 .shogun-heading-component h1 {
  color: rgba(104, 127, 132, 1);
  font-weight:   ;
  font-family: Playfair Display;
  font-style:   ;
  font-size: 28px;
  line-height: ;
  letter-spacing: ;
  text-align: center;
}



#s-aae47bca-c073-4e10-8020-f6dd41d4ee6b {
  margin-left: auto;
margin-right: auto;
max-width: 1100px;
}
@media (min-width: 1200px){#s-aae47bca-c073-4e10-8020-f6dd41d4ee6b {
  
}
}@media (min-width: 992px) and (max-width: 1199px){#s-aae47bca-c073-4e10-8020-f6dd41d4ee6b {
  
}
}
#s-39b07f4f-fdb2-483f-9fc4-855e679cbb63 {
  margin-left: auto;
margin-right: auto;
padding-top: 20px;
padding-bottom: 20px;
max-width: 1100px;
}

#s-ceb77aee-5645-4c1a-94f8-37fbde589407 {
  border-style: solid;
margin-top: 60px;
margin-left: auto;
margin-bottom: 50px;
margin-right: auto;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-color: rgba(223, 223, 223, 1);
max-width: 1100px;
}

@media (min-width: 0px) {
[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-xs-12 {
  width: 100%;
}

}

@media (min-width: 768px) {
[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (min-width: 992px) {
[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (min-width: 1200px) {
[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (max-width: 767px) {
  [id="s-ceb77aee-5645-4c1a-94f8-37fbde589407"] > .shg-row {
    flex-flow: column-reverse;
  }
}

#s-8fd91fdf-580f-4b40-8eae-891d0047282a {
  border-style: solid;
margin-left: auto;
margin-right: auto;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 1px;
border-right-width: 0px;
border-color: rgba(209, 209, 209, 1);
max-width: 450px;
text-align: center;
}

#s-8fd91fdf-580f-4b40-8eae-891d0047282a .shogun-heading-component h1 {
  color: rgba(0, 0, 0, 1);
  font-weight:   ;
  font-family: Playfair Display;
  font-style:   ;
  font-size: ;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}



#s-0ffd2473-adfb-4899-9a57-4a10f68c7741 {
  padding-top: 15px;
padding-left: 30px;
padding-right: 30px;
}

#s-59877067-df2c-4454-b8d2-8fdac326f15e {
  margin-top: 20px;
margin-left: auto;
margin-right: auto;
max-width: 1100px;
}

#s-59877067-df2c-4454-b8d2-8fdac326f15e {
  display: none;
}
#s-267192e6-a394-4b02-a49a-a76366e79736 {
  margin-left: auto;
margin-bottom: 20px;
margin-right: auto;
min-height: 50px;
max-width: 1100px;
}








#s-267192e6-a394-4b02-a49a-a76366e79736 > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}#s-267192e6-a394-4b02-a49a-a76366e79736.shg-box.shg-c {
  justify-content: center;
}

#s-b590dd9c-1f86-4a4a-b88c-ca5102386156 {
  margin-left: auto;
margin-right: auto;
max-width: 350px;
text-align: center;
}

#s-b590dd9c-1f86-4a4a-b88c-ca5102386156 .shg-product-sold-out {
  display: none;
  color: rgba(76, 188, 114, 1);
  font-size: 25px;
  font-weight:   ;
  font-family: ;
  font-style:  normal ;
}

#s-b590dd9c-1f86-4a4a-b88c-ca5102386156 .shg-product-price {
  color: rgba(76, 188, 114, 1);
  font-weight:   ;
  font-family: ;
  font-style:  normal ;
  font-size: 25px;
}

#s-b590dd9c-1f86-4a4a-b88c-ca5102386156 .shg-product-compare-price {
  display: none;
  text-decoration: line-through;
  color: rgba(182, 0, 0, 1);
  font-weight:   ;
  font-family: ;
  font-style:  normal ;
  font-size: 18px;
  padding-left: 10px;
}

.shg-btn.shg-cse, .shg-btn.shg-cse:hover, .shg-btn.shg-cse:focus {
  color: #FFF;
}

.shg-product-atc-wrapper {
  position: relative;
}

.shg-product-atc-btn {
  position: relative;
  z-index: 2;
  display: block;
  border: none;
  align-items: normal;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 200ms linear;
  opacity: 1;
}

.shg-product-atc-btn-opaque {
  opacity: 0;
}

.shg-product-atc-info-box {
  position: absolute;
  z-index: 1;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.shg-product-atc-btn-wrapper.shg-align-center {
  text-align: center;
}

.shg-product-atc-btn-wrapper.shg-align-right {
  text-align: right;
}

#s-bbbe8db1-8a1f-4148-b603-c9c9b7076aff {
  margin-top: 10px;
margin-left: auto;
margin-bottom: 10px;
margin-right: auto;
padding-top: 10px;
padding-left: 100px;
padding-bottom: 10px;
padding-right: 100px;
border-radius: 2px;
max-width: 400px;
text-align: center;
background-color: rgba(255, 117, 117, 1);
}
#s-bbbe8db1-8a1f-4148-b603-c9c9b7076aff:hover {background-color: #424242 !important;
text-decoration: none !important;}#s-bbbe8db1-8a1f-4148-b603-c9c9b7076aff:active {background-color: #000000 !important;
text-decoration: none !important;}


#s-bbbe8db1-8a1f-4148-b603-c9c9b7076aff {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: normal;
  box-sizing: border-box;
}

#s-bbbe8db1-8a1f-4148-b603-c9c9b7076aff.shg-product-atc-disabled {
  opacity: 0.5;
  cursor: initial;
}

#s-bbbe8db1-8a1f-4148-b603-c9c9b7076aff.shg-btn {
  color: #ffffff;
  font-size: 25px;
  
  
  
  display:  inline-block ;
}

#s-bbbe8db1-8a1f-4148-b603-c9c9b7076aff.shg-btn.shg-product-atc-error {
  
  
  
  
  
}



#s-28fb15fd-65f8-435d-8451-765a997e69bb {
  margin-left: auto;
margin-right: auto;
}

#s-2c79e440-a337-43f5-bc0c-d799ab737b44 {
  border-style: solid;
margin-top: 30px;
margin-left: auto;
margin-bottom: 30px;
margin-right: auto;
padding-top: 30px;
padding-bottom: 10px;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-color: rgba(223, 223, 223, 1);
max-width: 1100px;
text-align: center;
}

#s-2c79e440-a337-43f5-bc0c-d799ab737b44 .shogun-heading-component h1 {
  color: #000;
  font-weight:   ;
  font-family: Playfair Display;
  font-style:   ;
  font-size: 37px;
  line-height: ;
  letter-spacing: ;
  text-align: center;
}



#s-f87626b8-b6b2-4a87-9dff-d78c2463573c {
  border-style: solid;
padding-top: 0px;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-color: rgba(230, 230, 230, 1);
min-height: 50px;
}








#s-f87626b8-b6b2-4a87-9dff-d78c2463573c > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}#s-f87626b8-b6b2-4a87-9dff-d78c2463573c.shg-box.shg-c {
  justify-content: center;
}

#s-7a7db13e-ae81-45d1-81f5-995d8069f10b {
  margin-top: 70px;
margin-left: auto;
margin-bottom: 0px;
margin-right: auto;
max-width: 1100px;
}

@media (min-width: 0px) {
[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-xs-12 {
  width: 100%;
}

}

@media (min-width: 768px) {
[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 6.666666666666667px);
}

}

@media (min-width: 992px) {
[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 6.666666666666667px);
}

}

@media (min-width: 1200px) {
[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 6.666666666666667px);
}

[id="s-7a7db13e-ae81-45d1-81f5-995d8069f10b"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 6.666666666666667px);
}

}

#s-b2658580-78ed-44cc-9143-151b2b3b4989 {
  padding-bottom: 15px;
text-align: center;
}




  #s-b2658580-78ed-44cc-9143-151b2b3b4989 img.shogun-image {
    
    width: px;
  }


#s-b2658580-78ed-44cc-9143-151b2b3b4989 .shogun-image-content {
  
    align-items: center;
  
}

#s-8a85b409-5398-4fda-a52c-95eab4605ed9 {
  padding-left: 20px;
padding-right: 20px;
}

#s-dc103a9c-30a5-4758-9508-62eba0d3099f {
  text-align: center;
}




  #s-dc103a9c-30a5-4758-9508-62eba0d3099f img.shogun-image {
    
    width: px;
  }


#s-dc103a9c-30a5-4758-9508-62eba0d3099f .shogun-image-content {
  
    align-items: center;
  
}

/*
  $vgutter : 20px
  $hgutter : 10px;
*/

.shg-c:before,
.shg-c:after {
  content: " ";
  display: table;
}

/**
  Ref:
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
  https://dnf.slack.com/archives/C0514HB79/p1538741509000100
**/
.shogun-root {
  z-index: 1;
  position: relative;
  isolation: isolate;
}

.shogun-root iframe {
  display: initial;
}

@media (max-width: 1024px) {
  .shg-c,
  .shg-box {
    background-attachment: scroll !important;
  }
}

@media only screen
  and (min-width: 1024px) and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none)
  and (orientation: landscape) {
  .shg-box {
    background-attachment: scroll !important;
  }
}

#mc_embed_signup .clear {
  width: auto !important;
  height: auto !important;
  visibility: visible !important;
}

.shg-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.shogun-image {
  max-width: 100%;
  min-height: inherit;
  max-height: inherit;
  display: inline !important;
  border: 0;
  vertical-align: middle;
}

.shg-fw {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.shg-fw .shg-fw {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div[data-shg-lightbox-switch] {
  cursor: pointer;
}

.shg-lightbox {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.shg-lightbox.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.shg-lightbox .shg-lightbox-close {
  position: absolute;
  right: 0;
  padding: 5px 0;
  color: #fff;
  font-size: 45px;
  margin-right: 10px;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
}

.shg-lightbox .shg-lightbox-image-container {
  padding: 25px;
}

.shg-lightbox .shg-lightbox-image {
  margin: auto;
  max-height: 90vh;
  max-width: 100%;
}

.shg-lightbox .shg-lightbox-close:hover,
.shg-lightbox .shg-lightbox-close:focus {
  color: #a2a2a2;
  text-decoration: none;
  cursor: pointer;
}

.shg-lightbox .shg-lightbox-nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0%, -50%);
  z-index: 1;
}

.shg-lightbox .shg-lightbox-nav.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-nav.shg-nav-left {
  left: 0;
  background-image: url();
}

.shg-lightbox .shg-lightbox-nav.shg-nav-right {
  right: 0;
  background-image: url();
}

@media screen and (min-width: 769px) {
  .shg-lightbox .shg-lightbox-image-container {
    padding: 50px;
  }
}

.shogun-lazyload:not([src]),
.shogun-lazyloading:not([src]) {
	opacity: 0;
}
.shogun-lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}
