.shg-box {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

.shg-box > .shg-box-content {
  z-index: 4;
  position: relative;
}

.shg-box-vertical-align-wrapper, .shg-box-vertical-center-wrapper {
  display: flex;
  width: 100%;
}

.shg-box-vertical-align-top {
  justify-content: flex-start;
}

.shg-box-vertical-align-center, .shg-box-vertical-center {
  justify-content: center;
}

.shg-box-vertical-align-bottom {
  justify-content: flex-end;
}

.shg-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
}

.shg-box-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

#s-de5e232d-1e89-4134-b6f5-0a19aa3523d9 {
  border-style: solid;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 65px;
padding-bottom: 85px;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 1px;
border-right-width: 0px;
border-color: rgba(225, 225, 225, 1);
min-height: 50px;
background-color: rgba(255, 251, 233, 1);
}

#s-de5e232d-1e89-4134-b6f5-0a19aa3523d9 > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
.shg-row {
  display: flex;
  flex-wrap: wrap;
  min-height: inherit;
  max-height: inherit;
justify-content: space-between;
}

.shg-row > * {
  min-height: inherit;
  max-height: inherit;
}

.shg-c-xs-1,
.shg-c-xs-2,
.shg-c-xs-3,
.shg-c-xs-4,
.shg-c-xs-5,
.shg-c-xs-6,
.shg-c-xs-7,
.shg-c-xs-8,
.shg-c-xs-9,
.shg-c-xs-10,
.shg-c-xs-11,
.shg-c-xs-12,
.shg-c-sm-1,
.shg-c-sm-2,
.shg-c-sm-3,
.shg-c-sm-4,
.shg-c-sm-5,
.shg-c-sm-6,
.shg-c-sm-7,
.shg-c-sm-8,
.shg-c-sm-9,
.shg-c-sm-10,
.shg-c-sm-11,
.shg-c-sm-12,
.shg-c-md-1,
.shg-c-md-2,
.shg-c-md-3,
.shg-c-md-4,
.shg-c-md-5,
.shg-c-md-6,
.shg-c-md-7,
.shg-c-md-8,
.shg-c-md-9,
.shg-c-md-10,
.shg-c-md-11,
.shg-c-md-12,
.shg-c-lg-1,
.shg-c-lg-2,
.shg-c-lg-3,
.shg-c-lg-4,
.shg-c-lg-5,
.shg-c-lg-6,
.shg-c-lg-7,
.shg-c-lg-8,
.shg-c-lg-9,
.shg-c-lg-10,
.shg-c-lg-11,
.shg-c-lg-12 {
  position: relative;
}

#s-65fe867b-d353-46fc-bee8-a7209d09364f {
  margin-left: auto;
margin-right: auto;
max-width: 1100px;
}

@media (min-width: 0px) {
[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-xs-12 {
  width: 100%;
}

}

@media (min-width: 768px) {
[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 5.0px);
}

}

@media (min-width: 992px) {
[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 5.0px);
}

}

@media (min-width: 1200px) {
[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 5.0px);
}

[id="s-65fe867b-d353-46fc-bee8-a7209d09364f"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 5.0px);
}

}

.shogun-heading-component h1,
.shogun-heading-component h2,
.shogun-heading-component h3,
.shogun-heading-component h4,
.shogun-heading-component h5,
.shogun-heading-component h6 {
  margin: 0;
  padding: 0;
  display: block;
  color: #000;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.shogun-heading-component a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

#s-db0ea683-b872-4769-9e93-8ca0e80ad0c3 {
  border-style: solid;
margin-left: 21px;
margin-right: 21px;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 3px;
border-right-width: 0px;
border-color: rgba(255, 221, 137, 1);
text-align: left;
}

#s-db0ea683-b872-4769-9e93-8ca0e80ad0c3 .shogun-heading-component h1 {
  color: rgba(109, 109, 109, 1);
  font-weight:  normal ;
  font-family: Playfair Display;
  font-style:  normal ;
  font-size: 54px;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-align: left;
}



.shg-rich-text {
  overflow-wrap: break-word;
}

.shg-rich-text img {
  margin: 0 20px;
}

@media (max-width: 768px) {
  .shg-rich-text img {
    display: block;
    float: none !important;
    margin: 0 auto;
  }
}

.shg-default-text-content *:first-child {
  margin-top: 0;
}

.shg-default-text-content {
  text-align: left;
}

.shg-default-text-content p,
.shg-default-text-content h1,
.shg-default-text-content h2,
.shg-default-text-content h3,
.shg-default-text-content h4,
.shg-default-text-content h5,
.shg-default-text-content h6,
.shg-default-text-content address,
.shg-default-text-content pre,
.shg-default-text-content div,
.shg-default-text-content ol,
.shg-default-text-content ul {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}

.shg-default-text-content a {
  background-color: inherit;
  color: inherit;
  cursor: text;
  font-family: inherit;
  font-style: inherit;
  text-decoration: underline;
  text-transform: inherit;
}

.shg-default-text-content strong,
.shg-default-text-content em {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.shg-default-text-content em {
  font-weight: inherit;
}

.shg-default-text-content strong {
  font-style: inherit;
  font-weight: 700;
}

/* https://stackoverflow.com/a/16094931/3696652 */
.shg-default-text-content ::-moz-selection,
.shg-default-text-content *::-moz-selection {
  background: #accef7;
}
.shg-default-text-content ::selection,
.shg-default-text-content *::selection {
  background: #accef7;
}

.shg-default-text-content p {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 0.6em;
}

.shg-default-text-content h1 {
  font-size: 1.714em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.166;
  margin-top: 0.67em;
}

.shg-default-text-content h2 {
  font-size: 1.43em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
  margin-top: 0.83em;
}

.shg-default-text-content h3 {
  font-size: 1.142em;
  font-weight: 500;
  letter-spacing: -0.008em;
  line-height: 1.5;
  margin-top: 1em;
}

.shg-default-text-content h4 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -0.006em;
  line-height: 1.428;
  margin-top: 1.33em;
}

.shg-default-text-content h5 {
  font-size: 0.857em;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.333;
  margin-top: 1.43em;
}

.shg-default-text-content h6 {
  font-size: 0.785em;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.454;
  margin-top: 1.42em;
  text-transform: uppercase;
}

.shg-default-text-content ul {
  list-style: disc;
}

.shg-default-text-content ol {
  list-style: decimal;
}

.shg-default-text-content ul,
.shg-default-text-content ol {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  margin-bottom: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  margin-top: 0;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.shg-default-text-content li {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1;
  list-style: inherit;
  margin-top: 0.67em;
}

.shg-default-text-content pre {
  font-family: monospace;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 1em;
  white-space: pre-wrap;
  word-break: normal;
}

.shg-default-text-content address {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 0;
}

.shg-default-text-content div {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-bottom: 0;
  margin-top: 0.67em;
}

#s-0ae5a015-5158-424f-85a2-5bf3dc19fbed {
  margin-top: 30px;
margin-left: 20px;
margin-bottom: 30px;
margin-right: 20px;
}
@media (max-width: 767px){#s-0ae5a015-5158-424f-85a2-5bf3dc19fbed {
  display: none;
}
#s-0ae5a015-5158-424f-85a2-5bf3dc19fbed, #wrap-s-0ae5a015-5158-424f-85a2-5bf3dc19fbed { display:none !important; }}
.shogun-image-container {
  position: relative;
}

.shogun-image-container.shg-align-left {
  text-align: left;
}

.shogun-image-container.shg-align-center {
  text-align: center;
}

.shogun-image-container.shg-align-right {
  text-align: right;
}

.shogun-image-linked {
  cursor: pointer;
}

.shogun-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.shogun-image-overlay.shg-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-top-center {
  align-items: flex-start;
  justify-content: center;
}

.shogun-image-overlay.shg-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.shogun-image-overlay.shg-middle-left {
  align-items: center;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-middle-center {
  align-items: center;
  justify-content: center;
}

.shogun-image-overlay.shg-middle-right {
  align-items: center;
  justify-content: flex-end;
}

.shogun-image-overlay.shg-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.shogun-image-overlay.shg-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.shogun-image-overlay p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.shogun-image-cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
  width: 100%;
}

.shogun-image-contain {
  font-family: "object-fit: contain;";
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.shogun-image-link {
  display: block;
  min-height: inherit;
  max-height: inherit;
}

img.shogun-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.shogun-image-content {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.shogun-image-content-linked, .shogun-image-content-not-linked {
  pointer-events: none;
}

.shogun-image-content-not-linked > div {
  pointer-events: auto;
}

.shogun-image-content-linked a,
.shogun-image-content-linked button,
.shogun-image-content-linked iframe,
.shogun-image-content-linked .shg-box-linked {
  pointer-events: auto;
}

.shogun-image-content > div {
  width: 100%;
}

.shogun-image-content-top {
  align-items: flex-start;
}

.shogun-image-content-center {
  align-items: center;
}

.shogun-image-content-bottom {
  align-items: flex-end;
}
#s-170c2d39-0d28-4def-977d-c5597d56eb3e {
  padding-top: 30px;
padding-bottom: 0px;
text-align: center;
}
@media (max-width: 767px){#s-170c2d39-0d28-4def-977d-c5597d56eb3e {
  display: none;
}
#s-170c2d39-0d28-4def-977d-c5597d56eb3e, #wrap-s-170c2d39-0d28-4def-977d-c5597d56eb3e { display:none !important; }}
#s-8b5484c0-ecb6-4a86-b531-35afe97a56ce {
  margin-top: 75px;
margin-bottom: 75px;
min-height: 50px;
}

#s-8b5484c0-ecb6-4a86-b531-35afe97a56ce > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
#s-a1df1128-78f5-4579-8de2-67d065ab7906 {
  margin-left: auto;
margin-right: auto;
max-width: 1100px;
}

@media (min-width: 0px) {
[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-xs-12 {
  width: 100%;
}

}

@media (min-width: 768px) {
[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (min-width: 992px) {
[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (min-width: 1200px) {
[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-a1df1128-78f5-4579-8de2-67d065ab7906"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 15.0px);
}

}

#s-23f7a747-6c29-44b8-a1a2-eb7ee4314576 {
  text-align: center;
}

#s-7f452265-c657-4cd4-a0d0-fcbad4664709 {
  border-style: solid;
padding-top: 0px;
padding-bottom: 0px;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-width: 1px;
border-right-width: 0px;
border-color: rgba(188, 188, 188, 1);
max-width: 450px;
text-align: left;
}

#s-7f452265-c657-4cd4-a0d0-fcbad4664709 .shogun-heading-component h1 {
  color: #000;
  font-weight:   ;
  font-family: Playfair Display;
  font-style:   ;
  font-size: 37px;
  line-height: ;
  
  text-align: left;
}



#s-19da8ee2-5294-45f9-a3cf-07c5f4766f73 {
  margin-top: 20px;
margin-bottom: 20px;
padding-top: 10px;
padding-bottom: 10px;
}

.shg-btn {
  cursor: pointer;
  box-sizing: border-box;
}

.shg-btn.shg-btn-stretch {
  display: block;
}

.shg-btn:not(.shg-btn-stretch) {
  display: inline-block;
}

.shg-btn-wrapper.shg-align-left {
  text-align: left;
}

.shg-btn-wrapper.shg-align-center {
  text-align: center;
}

.shg-btn-wrapper.shg-align-right {
  text-align: right;
}

#s-238d86ef-cfbe-4cd5-9909-5e2944cae361 {
  margin-top: 80px;
margin-left: auto;
margin-bottom: 0px;
margin-right: auto;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
border-radius: 4px;
text-align: center;
background-color: rgba(255, 117, 117, 1);
text-decoration: none;
}
#s-238d86ef-cfbe-4cd5-9909-5e2944cae361:hover {background-color: rgba(255, 178, 178, 1) !important;
text-decoration: none !important;}#s-238d86ef-cfbe-4cd5-9909-5e2944cae361:active {background-color: rgba(255, 167, 167, 1) !important;
text-decoration: none !important;}
 #s-238d86ef-cfbe-4cd5-9909-5e2944cae361.shg-btn {
   color: #ffffff;
   font-size: 40px;
   font-weight:  normal ;
   font-style:  normal ;
   font-family: Work Sans;
 }
/*
  $vgutter : 20px
  $hgutter : 10px;
*/

.shg-c:before,
.shg-c:after {
  content: " ";
  display: table;
}

/**
  Ref:
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
  https://dnf.slack.com/archives/C0514HB79/p1538741509000100
**/
.shogun-root {
  z-index: 1;
  position: relative;
  isolation: isolate;
}

.shogun-root iframe {
  display: initial;
}

@media (max-width: 1024px) {
  .shg-c,
  .shg-box {
    background-attachment: scroll !important;
  }
}

#mc_embed_signup .clear {
  width: auto !important;
  height: auto !important;
  visibility: visible !important;
}

.shg-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.shogun-image {
  max-width: 100%;
  min-height: inherit;
  max-height: inherit;
  display: inline !important;
  border: 0;
  vertical-align: middle;
}

.shg-fw {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.shg-fw .shg-fw {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div[data-shg-lightbox-switch] {
  cursor: pointer;
}

.shg-lightbox {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.shg-lightbox.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.shg-lightbox .shg-lightbox-close {
  position: absolute;
  right: 0;
  padding: 5px 0;
  color: #fff;
  font-size: 45px;
  margin-right: 10px;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
}

.shg-lightbox .shg-lightbox-image-container {
  padding: 25px;
}

.shg-lightbox .shg-lightbox-image {
  margin: auto;
  max-height: 90vh;
  max-width: 100%;
}

.shg-lightbox .shg-lightbox-close:hover,
.shg-lightbox .shg-lightbox-close:focus {
  color: #a2a2a2;
  text-decoration: none;
  cursor: pointer;
}

.shg-lightbox .shg-lightbox-nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0%, -50%);
  z-index: 1;
}

.shg-lightbox .shg-lightbox-nav.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-nav.shg-nav-left {
  left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0xMjAzIDU0NHEwIDEzLTEwIDIzbC0zOTMgMzkzIDM5MyAzOTNxMTAgMTAgMTAgMjN0LTEwIDIzbC01MCA1MHEtMTAgMTAtMjMgMTB0LTIzLTEwbC00NjYtNDY2cS0xMC0xMC0xMC0yM3QxMC0yM2w0NjYtNDY2cTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
}

.shg-lightbox .shg-lightbox-nav.shg-nav-right {
  right: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0xMTcxIDk2MHEwIDEzLTEwIDIzbC00NjYgNDY2cS0xMCAxMC0yMyAxMHQtMjMtMTBsLTUwLTUwcS0xMC0xMC0xMC0yM3QxMC0yM2wzOTMtMzkzLTM5My0zOTNxLTEwLTEwLTEwLTIzdDEwLTIzbDUwLTUwcTEwLTEwIDIzLTEwdDIzIDEwbDQ2NiA0NjZxMTAgMTAgMTAgMjN6Ii8+PC9zdmc+);
}

@media screen and (min-width: 769px) {
  .shg-lightbox .shg-lightbox-image-container {
    padding: 50px;
  }
}

.shogun-lazyload:not([src]),
.shogun-lazyloading:not([src]) {
	opacity: 0;
}
.shogun-lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}
